<!DOCTYPE html>
<html ng-app="appLateRoomsTechTest">

<head>
    <title>LateRooms Full-Stack Tech Test</title>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.css">
</head>

<body>
    <div class="container" ng-controller="HomeController as vm">
        <ul>
            <li ng-repeat="city in vm.cities">{{ city.City }} ({{ city.Country }})
                <ul>
                    <li ng-repeat="attraction in city.Attractions">{{ attraction }}</li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>
