<!DOCTYPE html>
<html ng-app="appLateRoomsTechTestDev">

<head>
    <title>LateRooms Full-Stack Tech Test</title>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <br />
    <br />
    <div class="container" ng-controller="HomeController as vm">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <fieldset>
                    <legend>Filter</legend>
                    <label>
                        <input id="allFilterRadio" type="radio" name="filter" value="all" ng-model="vm.filter">
                        All
                    </label>
                    &nbsp;
                    <label>
                        <input id="visitedFilterRadio" type="radio" name="filter" value="visited" ng-model="vm.filter">
                        Visited
                    </label>
                    &nbsp;
                    <label>
                        <input id="unvisitedFilterRadio" type="radio" name="filter" value="unvisited" ng-model="vm.filter">
                        Unvisited
                    </label>
                </fieldset>
                <hr />
            </div>
        </div>
        <div class="row" id="sortingPanel">
            <div class="col-md-offset-3 col-md-6">
                <fieldset>
                    <legend>Sort by</legend>
                    <label>
                        <input id="visitedSortRadio" type="radio" name="sort" value="visited" ng-model="vm.sort">
                        Visited
                    </label>
                    &nbsp;
                    <label>
                        <input id="unvisitedSortRadio" type="radio" name="sort" value="unvisited" ng-model="vm.sort">
                        Unvisited
                    </label>
                </fieldset>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Cities</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <div ng-repeat="city in vm.filteredCities()" city="city" on-update-city="vm.onUpdateCity(city)"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <span>Visited cities: <span class="badge">{{ vm.visitedCityCount() }}</span></span>
                <span class="pull-right">Unvisited cities: <span class="badge">{{ vm.unvisitedCityCount() }}</span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <hr />
                <button id="addCityBtn" type="button" class="btn btn-sm btn-primary" ng-click="vm.onAdd()">Add City</button>
            </div>
        </div>
    </div>
</body>

</html>