<!DOCTYPE html>
<html ng-app="appLateRoomsTechTest">

<head>
    <title>LateRooms Full-Stack Tech Test</title>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.css">
</head>

<body>
    <div class="container" ng-controller="HomeController as vm">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <ul class="list-group">
                    <div ng-repeat="city in vm.cities" city="city" ></div>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <hr />
                <button type="button" class="btn btn-sm btn-primary" ng-click="vm.onAdd()">Add City</button>
                <span class="pull-right">Visited cities: <span class="badge">{{ vm.visitedCityCount() }}</span></span>
            </div>
        </div>
    </div>
</body>

</html>
